.comp-header {
  height: 10vh;
  background-color: #182538;
  margin: auto 10vh;
  padding-top: 2vh;
  margin-bottom: 2vh;
}

.comp-header .logo {
  height: 7vh;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .comp-header .logo {
    display: block;
    margin: auto;
  }
  .meta-title {
    text-align: center;
  }
}
@media only screen and (min-width: 601px) {
  .meta-title {
    padding-left: 13px;
  }
}
