@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Heebo", sans-serif !important;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/949/555/749/abstract-huawei-lights-neon-hd-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
