@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Heebo", sans-serif !important;
  background: #182538 !important;
  /* background-image: url("./assets/wlug.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* background: linear-gradient(270deg, #ff7900, #ff0095);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
